.page.theme_dark {
    --accent-color: #FF0070;
    --text-color: #F1B2CE;
    --border-color-hover: rgba(255, 0, 112, 0.4);
    --title-color: #000028;
    --shadow-color: #DB00FF;
    --header-decor: #FF0070;
    --corner-button-bigtitle-color: #FF0070;
    --background-color: #000028;
    --img-background: url("../images/cover-image-dark.png") fixed no-repeat;
    --fonts: "IBM Plex Mono";
    background: var(--img-background);
    background-size: cover;
    background-color: var(--background-color);
}