.page {
    max-width: 375px;
    width: 100%;
    margin: auto;
    padding: 0 10px 0 10px;
    background: url("../images/cover-image-dark.png") fixed no-repeat;
    background-size: cover;
}

.header {
    position: relative;
    display: grid;
    grid-template-rows: 228px 192px auto;
    min-height: 668px;
    padding: 10px 0 10px 0;
}

.decorated-zone::before {
    border: 1px solid var(--corner-decor);
    border-bottom: none;
    border-left: none;
    box-sizing: border-box;
    content: "";
    height: 25px;
    right: 0;
    position: absolute;
    top: 10px;
    width: 25px;
}

.decorated-zone::after {
    border: 1px solid var(--corner-decor);
    border-top: none;
    border-right: none;
    box-sizing: border-box;
    content: "";
    height: 25px;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 25px;
}

.header-decoration {
    display: inherit;
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: var(--header-decor);
    top: 10px;
    right: 28px;
}

.header-decoration::after {
    content: "";
    position: absolute;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: var(--header-decor);
    box-shadow: 0 0 4px 2px var(--header-decor);
    top: 8px;
    right: -19px;
}

.header__theme-menu {
    align-self: center;
    justify-self: flex-end;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-button {
    width: 70px;
    height: 26px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    text-transform: lowercase;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--button-color);
}

.header__theme-menu-button:hover {
    border: 1px solid var(--border-color-hover);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border: 1px none var(--button-color);
    border-bottom-style: solid;
}

.header__theme-menu-button:disabled {
    pointer-events: none;
}

.header__theme-menu-button_active {
    border: 1px solid var(--button-color);
}

.title-decor {
    background-color: var(--accent-color);
    color: var(--title-color);
}

.header__text {
    align-self: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    text-align: left;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 40px;
    font-size: 18px;
    line-height: 23.4px;
    text-align: left;
}

.position {
    display: grid;
    gap: 20px;
}

.article-position {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
    border-bottom: solid var(--text-color);
}

.text-link:focus {
    outline: none;
}

.text-link:focus-visible {
    border: 1px solid var(--text-color);

}

.big-title {
    font-weight: 700;
    color: var(--big-title-color);
}

.content__title {
    font-weight: 700;
}

.content__text {
    font-weight: 400;
    color: var(--text-color);
}

.pictures__gallery {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    gap: 10px;
    padding-top: 10px;
}

.gallery-picture {
    max-width: 375px;
    width: 100%;
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
    min-height: 668px;
}

.text-shadow {
    font-size: 116px;
    font-weight: 700;
    line-height: 95px;
    text-align: left;
    color: var(--shadow-color);
    text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) /*and (width < 1024px)*/ {
    .page {
        min-width: 768px;
        padding: 20px 20px 0 0;
    }

    .header {
        grid-template-rows: 455px auto 290px;
        min-height: 1024px;
        padding: 0 0 20px 0;
    }

    .header__theme-menu {
        align-self: center;
        justify-self: flex-end;
    }

    .header__text {
        align-self: flex-start;
        justify-self: flex-end;
        max-width: 364px;
        width: 100%;
    }

    .text-shadow {
        font-size: 120px;
        line-height: 99px;
        text-shadow: 4px 4px 0 var(--accent-color);
    }

    .decorated-zone::after {
        bottom: 30px;
        left: 20px;
    }

    .main {
        display: flex;
        flex-direction: column;
        gap: 80px;
        margin-top: 50px;
        padding-left: 20px;
        font-size: 18px;
        line-height: 23.4px;
    }

    .articles {
        display: grid;
        grid-template-columns: 236px auto;
        gap: 20px;
    }

    .articles__title {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .causes__title {
        max-width: 236px;
        width: 100%;
    }

    .advices {
        display: grid;
        grid-template-columns: 236px auto;
        gap: 20px;
    }

    .advices__title {
        grid-row-start: 1;
        grid-row-end: 7;
    }

    .pictures__gallery {
        display: grid;
        grid-template-rows: 192px 230px auto;
        grid-template-columns: 229px 230px auto;
        gap: 20px;
        max-width: inherit;
        width: 100%;
        padding-top: 20px;
    }

    .img-sunset {
        min-height: 192px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .img-ice-cream {
        object-fit: cover;
        min-height: 441px;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .img-tape {
        object-fit: cover;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
        min-height: 568px;
    }

    .img-books {
        min-height: 230px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .img-street {
        min-height: 318px;
        grid-column-start: 2;
        grid-column-end: span 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .gallery-picture {
        max-width: none;
    }
}
